In [1]:
from sys import path
path.append('..//modules')
import psycopg2 as pg
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import create_engine, MetaData, Table
import pandas.io.sql as psql
import pandas as pd
import time
#create a postgres engine and a pg connection
from modules.db_connector import *
print("DB connecting engine imported")

DB connecting engine imported

In [3]:
#import module for call arcgis map server and transforming feauture layer to gpdf (shoutout to Whiskers,2020)
from modules import call_arcgis_rest_service
print("Module call_arcgis_rest_service imported")

start = time.time()
print("Making to call ArcGis mapserver")
#extract layer from Arcgis rest service and transform to a gpdf containing all SGS (it takes about 2 minutes)
gpdf_from_arcgis = call_arcgis_rest_service.call_arcgis_rest_to_gpdf("https://gis.geology.sk/arcgis/rest/services/wgs_naucnaGeologia/VGL_wgs/MapServer/")
print("gpdf_from_arcgis retrieved in : ", round(time.time() - start, 2), " seconds.")

#load the created gpdf in to postgis db
gpdf_from_arcgis.to_postgis('sk_sgs_vgl_sguds', engine, schema = 'gtlab', if_exists='replace', index=False, 
                   dtype={'geometry': Geometry(geometry_type='Point', srid= '3857')})

print("gpdf_from_arcgis loaded in db under name sk_sgs_vgl_sguds in: ", round(time.time() - start, 2), " seconds.")

Module call_wfs imported
Making to call ArcGis mapserver
gpdf_from_arcgis retrieved in :  3.88  seconds.
gpdf_from_arcgis loaded in db under name sk_sgs_vgl_sguds in:  4.03  seconds.
Control atribute for scrapping added 4.03  seconds.

C:\Users\csb\anaconda\Lib\site-packages\geopandas\io\sql.py:415: UserWarning: Could not parse CRS from the GeoDataFrame. Inserting data without defined CRS.
  srid = _get_srid_from_crs(gdf)

In [6]:
#A FEW ADDITIONS AND UPDATES TO sk_sgs_vgl_sguds 
with engine.connect() as con1:
    alter_stmt1 = "ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD COLUMN details_scrapped text; "
    con1.execute(text(alter_stmt1))
    con1.commit()
    print("Control atribute for scrapping added")
    alter_stmt2 = 'ALTER TABLE gtlab.sk_sgs_vgl_sguds RENAME COLUMN "geometry" to geom; '
    con1.execute(text(alter_stmt2))
    con1.commit()
    print("Geometry columns renamed to geom")
    update_stmt1 = "SELECT UpdateGeometrySRID('gtlab','sk_sgs_vgl_sguds', 'geom', 3857);"
    con1.execute(text(update_stmt1))
    print("SRID UPDATED TO 3857")
    con1.commit()
    alter_stmt4 = 'ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD COLUMN gku_municipality_id integer; '
    con1.execute(text(alter_stmt4))
    con1.commit()
    print("Column gku_municipality_id added")
    alter_stmt4 = 'ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD COLUMN dmo_id integer; '
    con1.execute(text(alter_stmt4))
    con1.commit()
    print("Column dmo_id added")
    con1.close()

Geometry columns renamed to geom
SRID UPDATED TO 3857

In [10]:
from modules import scrappSGUDS_vgl24

with engine.connect() as con1:
    q = "select * from gtlab.sk_sgs_vgl_sguds where details_scrapped is null order by id"
    df_vgl = pd.read_sql(q, con=con1)
    con1.close()
    
scrappSGUDS_vgl24.py.get_vgl_web_app_to_sgs_df(df_vgl)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "where"
LINE 1: ...ipalities_gku WHERE sk_sgs_vgl_sguds.id = 1.0 AND where st_w...
                                                             ^

[SQL: SELECT sk_sgs_vgl_sguds.id, sk_municipalities_gku."Kód_obce" FROM gtlab.sk_sgs_vgl_sguds, gtlab.sk_municipalities_gku WHERE sk_sgs_vgl_sguds.id = 1.0 AND where st_within(st_transform(sk_sgs_vgl_sguds.geom, 4326), st_transform(sk_municipalities_gku.geom, 4326 ));]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [7]:
from modules import get_municipality_id_sgs_vgl

with engine.connect() as con1:
    q = "select * from gtlab.sk_sgs_vgl_sguds where gku_municipality_id is null order by id"
    df_vgl = pd.read_sql(q, con=con1)
    con1.close()
    
get_municipality_id_sgs_vgl.get_municipality_id(df_vgl)

1.0 SK0428514578
2.0 SK0329514861
3.0 SK0416523437
4.0 SK0214507342
5.0 SK0323509043
6.0 SK0316512478
7.0 SK0316512419
8.0 SK032C517097
9.0 SK0321580244
10.0 SK0417524301
11.0 SK032D517046
12.0 SK0416560103
13.0 SK0315510386
14.0 SK0428526266
15.0 SK0428525634
16.0 SK0426518123
17.0 SK0107508179
18.0 SK0104529389
19.0 SK0428525634
20.0 SK0428526053
21.0 SK0428526312
22.0 SK0428526266
23.0 SK0428525863
24.0 SK0426521337
25.0 SK0428526231
26.0 SK0426518123
27.0 SK0227513881
28.0 SK0417525383
29.0 SK0235504092
30.0 SK0236505421
31.0 SK042A526657
32.0 SK0106504637
33.0 SK0217556688
34.0 SK0329514811
35.0 SK0217556513
36.0 SK041A527092
37.0 SK0326511323
38.0 SK0104529371
39.0 SK0222557625
40.0 SK0313510211
41.0 SK0318510637
42.0 SK031A510106
43.0 SK0313509957
44.0 SK0416580368
45.0 SK031B517402
46.0 SK0106507831
47.0 SK0106507831
48.0 SK0106508021
49.0 SK0321508748
50.0 SK0106508161
51.0 SK0107508179
52.0 SK0107508179
53.0 SK0328526142
54.0 SK0428525529
55.0 SK042A543519
56.0 SK0315510858
57.0 SK031B517968
58.0 SK042A543268
59.0 SK0421543322
60.0 SK0426521574
61.0 SK0428526339
62.0 SK0323508667
63.0 SK031B517658
64.0 SK0318510815
65.0 SK0227513997
66.0 SK0318510998
67.0 SK0323508993
68.0 SK0426521418
69.0 SK0107508047
70.0 SK032A516040
71.0 SK0324518816
72.0 SK0326558273
73.0 SK0228513326
74.0 SK0106504637
75.0 SK0223504262
76.0 SK0228512851
77.0 SK0416560103
78.0 SK0104529401
79.0 SK0316512052
80.0 SK041A526711
81.0 SK0413523429
82.0 SK0222512931
83.0 SK0318510441
84.0 SK0318510998
85.0 SK041A526851
86.0 SK0106508233
87.0 SK0429522317
88.0 SK0314509434
89.0 SK0426559881
90.0 SK0233556696
91.0 SK0215504645
92.0 SK0214507121
93.0 SK0215504653
94.0 SK0418524611
95.0 SK0233500712
96.0 SK0421543551
97.0 SK032D516881
98.0 SK0416523933
99.0 SK0313509639
100.0 SK0226512842
101.0 SK0228513407
102.0 SK0414543578
103.0 SK0411519111
104.0 SK0312509132
105.0 SK032A516040
106.0 SK032C517399
107.0 SK042A543357
108.0 SK0326511749
109.0 SK0427522945
110.0 SK0214507440
111.0 SK0428525634
112.0 SK0104529397
113.0 SK0315510262
114.0 SK0413523569
115.0 SK0329514462
116.0 SK0416523933
117.0 SK0106500267
118.0 SK0315510904
119.0 SK0232502103
120.0 SK031A509949
121.0 SK042A543331
122.0 SK0416523488
123.0 SK032D517364
124.0 SK0322516856
125.0 SK0325518557
126.0 SK0226513741
127.0 SK0428526231
128.0 SK0227513997
129.0 SK0232502642
130.0 SK041C528081
131.0 SK0426521736
132.0 SK0421526509
133.0 SK0428525669
134.0 SK0323508705
135.0 SK0315510572
136.0 SK0315510734
137.0 SK0316512656
138.0 SK0321508659
139.0 SK0416560103
140.0 SK0318510301
141.0 SK0323509043
142.0 SK0316512656
143.0 SK0319512141
144.0 SK0417525456
145.0 SK0234503436
146.0 SK0316512079
147.0 SK0315510777
148.0 SK0224506338
149.0 SK0234503282
150.0 SK0426521337
151.0 SK0319512729
152.0 SK0411519006
153.0 SK0318511030
154.0 SK0312509230
155.0 SK042B543802
156.0 SK0234503207
157.0 SK0223504581
158.0 SK0325518646
159.0 SK0322516643
160.0 SK032D516767
161.0 SK0321508918
162.0 SK0211555746
163.0 SK0328525987
164.0 SK0414526614
165.0 SK031A510173
166.0 SK042A543519
167.0 SK041B527939
168.0 SK0411519782
169.0 SK0313509540
170.0 SK0223504467
171.0 SK0222513253
172.0 SK0315510904
173.0 SK0233500992
174.0 SK0108508217
175.0 SK042B528498
176.0 SK042A543284
177.0 SK032A516317
178.0 SK0325518336
179.0 SK0412520331
180.0 SK0429522970
181.0 SK0429522601
182.0 SK0417525430
183.0 SK0214556581
184.0 SK0328525995
185.0 SK0428526045
186.0 SK032C517097
187.0 SK0428525529
188.0 SK042A543519
189.0 SK0328526321
190.0 SK0421543560
191.0 SK0321509035
192.0 SK032C517127
193.0 SK0106504858
194.0 SK0226513687
195.0 SK0315510408
196.0 SK0429523305
197.0 SK0318510998
198.0 SK0318510815
199.0 SK0227514357
200.0 SK0321508659
201.0 SK0324518263
202.0 SK0326511862
203.0 SK032A515922
204.0 SK032C516759
205.0 SK0322516643
206.0 SK0426521914
207.0 SK0227513920
208.0 SK0311517992
209.0 SK0319512273
210.0 SK0315511129
211.0 SK0234503550
212.0 SK042A543586
213.0 SK0313510017
214.0 SK0224505897
215.0 SK0226557510
216.0 SK0229506036
217.0 SK0324518468
218.0 SK0316512796
219.0 SK0326511331
220.0 SK0326511714
221.0 SK032C516759
222.0 SK0321508748
223.0 SK042A526355
224.0 SK0107508179
225.0 SK0428525634
226.0 SK0421543659
227.0 SK0428525529
228.0 SK0428525961
229.0 SK0321508454
230.0 SK032D516881
231.0 SK032D599336
232.0 SK042A560154
233.0 SK0103529354
234.0 SK0317509868
235.0 SK0321509035
236.0 SK0321509060
237.0 SK032B518158
238.0 SK0232502219
239.0 SK032C516902
240.0 SK0226513741
241.0 SK0316512079
242.0 SK031B518042
243.0 SK0316512478
244.0 SK0313509973
245.0 SK0313510181
246.0 SK0315510971
247.0 SK041A526711
248.0 SK0228557447
249.0 SK0315510726
250.0 SK0428526231
251.0 SK0313509973
252.0 SK0222513296
253.0 SK0315510734
254.0 SK0224505846
255.0 SK0106508021
256.0 SK032B518191
257.0 SK0322517143
258.0 SK0322516643
259.0 SK0322516597
260.0 SK041D544078
261.0 SK042B528218
262.0 SK042B528218
263.0 SK0428560031
264.0 SK0323508829
265.0 SK0323508934
266.0 SK0421543659
267.0 SK0426522155
268.0 SK0426521817
269.0 SK032C517062
270.0 SK032C516759
271.0 SK0426521752
272.0 SK032D516988
273.0 SK0411519481
274.0 SK0321508748
275.0 SK0411519065
276.0 SK0417525413
277.0 SK0215504297
278.0 SK0329514781
279.0 SK0321508438
280.0 SK032D517267
281.0 SK032D517011
282.0 SK031B518093
283.0 SK0316557358
284.0 SK0217506915
285.0 SK0321509019
286.0 SK0421526631
287.0 SK0421543373
288.0 SK042A526576
289.0 SK0428526266
290.0 SK0106508195
291.0 SK0313509973
292.0 SK0316512052
293.0 SK0318510785
294.0 SK0326511544
295.0 SK0106504858
296.0 SK0312509132
297.0 SK0214507491
298.0 SK0426559873
299.0 SK0107507989
300.0 SK0426521493
301.0 SK0233500682
302.0 SK031A510238
303.0 SK0229506478
304.0 SK0329514811
305.0 SK0426521914
306.0 SK0227514063
307.0 SK0428525871
308.0 SK0313509540
309.0 SK0428525634
310.0 SK0426521574
311.0 SK0428526061
312.0 SK0428525693
313.0 SK0328526118
314.0 SK0328515302
315.0 SK0323508900
316.0 SK0211501905
317.0 SK0234503568
318.0 SK0412520055
319.0 SK0428526291
320.0 SK031B517488
321.0 SK0428525634
322.0 SK042A543357
323.0 SK0417525472
324.0 SK0315510408
325.0 SK0323508691
326.0 SK0323508608
327.0 SK0326511943
328.0 SK0428525669
329.0 SK0328514756
330.0 SK0329514829
331.0 SK032C516759
332.0 SK0329514829
333.0 SK0324518930
334.0 SK0315510874
335.0 SK0328526321
336.0 SK0322516643
337.0 SK0428525634
338.0 SK031B547590
339.0 SK0413523585
340.0 SK0329514837
341.0 SK042A543152
342.0 SK0421543659
343.0 SK042B528421
344.0 SK042B543802
345.0 SK042B513792
346.0 SK0416523852
347.0 SK0421526541
348.0 SK0426522074
349.0 SK0222557421
350.0 SK0106504769
351.0 SK0223504262
352.0 SK031B517402
353.0 SK0428525821
354.0 SK0428525758
355.0 SK0428525782
356.0 SK0428525626
357.0 SK0428526223
358.0 SK0428526223
359.0 SK0313509825
360.0 SK0315510971
361.0 SK0421526631
362.0 SK042B528129
363.0 SK0416523933
364.0 SK042A526576
365.0 SK0426521493
366.0 SK042A543250
367.0 SK0315510874
368.0 SK0101528595
369.0 SK0232502570
370.0 SK0428526045
371.0 SK0323508845
372.0 SK0104529427
373.0 SK032C517097
374.0 SK0417524140
375.0 SK0329515230
376.0 SK032A515850
377.0 SK032C517356
378.0 SK0416560103
379.0 SK0215504653
380.0 SK0234503231
381.0 SK0216504351
382.0 SK0416560103
383.0 SK0315507393
384.0 SK0315510963
385.0 SK0426521469
386.0 SK0426522210
387.0 SK0428525669
388.0 SK0428525952
389.0 SK0428526185
390.0 SK0323508934
391.0 SK0315511170
392.0 SK0417525260
393.0 SK0421543233
394.0 SK0217556688
395.0 SK0328515761
396.0 SK0428525634
397.0 SK0428525634
398.0 SK0426521752
399.0 SK0428525669
400.0 SK0428526053
401.0 SK0229506281
402.0 SK0215504416
403.0 SK0313509710
404.0 SK0229505943
405.0 SK0226512842
406.0 SK031A509981
407.0 SK0226580856
408.0 SK031B518069
409.0 SK0315511137
410.0 SK042B543993
411.0 SK0315510874
412.0 SK0428525561
413.0 SK0426522015
414.0 SK0217507555
415.0 SK0226513245
416.0 SK0315510734
417.0 SK0317509914
418.0 SK0329515680
419.0 SK032D516970
420.0 SK0227513903
421.0 SK042A526657
422.0 SK0231501158
423.0 SK0224506583
424.0 SK0326511897
425.0 SK041D544221
426.0 SK032D516881
427.0 SK0326511862
428.0 SK0412518638
429.0 SK0322516643
430.0 SK0325518603
431.0 SK032C517232
432.0 SK032B518204
433.0 SK032D517267
434.0 SK0322516856
435.0 SK0324518450
436.0 SK032D516970
437.0 SK0234503231

438.0 SK032D516589
439.0 SK0329514837
440.0 SK0329514811
441.0 SK0329514811
442.0 SK0326511391
443.0 SK0427523259
444.0 SK032D516848
445.0 SK032D516660
446.0 SK0322517160
447.0 SK032B518891
448.0 SK0237500658
449.0 SK032D517267
450.0 SK0324518492
451.0 SK0324518468
452.0 SK032C516902
453.0 SK032C517291
454.0 SK032C517291
455.0 SK0319512273
456.0 SK032B518891
457.0 SK032D517267
458.0 SK0321508438
459.0 SK0232502693
460.0 SK0227513881
461.0 SK032B518204
462.0 SK0329514811
463.0 SK0426522007
464.0 SK041D529079
465.0 SK0426521604
466.0 SK042B528315
467.0 SK0227513997
468.0 SK0227514063
469.0 SK0315511188
470.0 SK0417525260
471.0 SK0414581640
472.0 SK0416523852
473.0 SK0328525987
474.0 SK0316512648
475.0 SK0428526096
476.0 SK0419520829
477.0 SK0417524140
478.0 SK0316512079
479.0 SK0226513601
480.0 SK031B518042

In [2]:
#ADD attribute "dmo_id" for each SGS
from modules import get_dmo_id_sgs_vgl
get_dmo_id_sgs_vgl.create_sgs_dmo_id()
print("dmo_id updated")

dmo_id updated

In [ ]:
list_alter_stmts = ['ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD PRIMARY KEY (id);', 'ALTER TABLE gtlab.sk_sgs_vgl_sguds_details ADD PRIMARY KEY (id);', 'ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD CONSTRAINT fk_sk_sgs_vgl_sguds_with_sk_dmos_raw  FOREIGN KEY (dmo_id) REFERENCES gtlab.sk_dmos_raw (dmo_id);', 'ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD CONSTRAINT fk_sk_sgs_vgl_sguds_with_sk_municipalities_gku  FOREIGN KEY (gku_municipality_id) REFERENCES gtlab.sk_municipalities_gku ("Kód_obce");', 'ALTER TABLE gtlab.sk_sgs_vgl_sguds_details ADD CONSTRAINT fk_sk_sgs_vgl_sguds_with_sk_sgs_vgl_sguds_details  FOREIGN KEY (id) REFERENCES gtlab.sk_sgs_vgl_sguds (id);']

for stmt in list_alter_stmts:
    with engine.connect() as con1:
        con1.execute(text(stmt))
        con1.commit()
        con1.close()

In [4]:
list_alter_stmts = ["ALTER TABLE gtlab.sk_sgs_vgl_sguds ADD COLUMN topic_en text;", 
                    """

UPDATE gtlab.sk_sgs_vgl_sguds SET topic_en = nv.tema_en 
FROM (
SELECT objectid, 
	CASE 
		WHEN tema = 'vulkanity' THEN 'volcanites'
		WHEN tema = 'geomorfológia' THEN 'geomorphology'
		WHEN tema =  'archeológia' THEN 'archaeology'
		WHEN tema =  'hydrogeológia' THEN 'hydrogeology'
		WHEN tema =  'baníctvo' THEN 'mining'
		WHEN tema =  'mineralógia' THEN 'mineralogy'
		WHEN tema = 'všeobecná geológia' THEN 'general geology'
		WHEN tema =  'tektonika' THEN 'tectonics'
		WHEN tema =  'paleontológia' THEN 'paleontology'
		ELSE null
	END tema_en
FROM gtlab.sk_sgs_vgl_sguds
) nv
WHERE nv.objectid = sk_sgs_vgl_sguds.objectid;
"""
]

for stmt in list_alter_stmts:
    with engine.connect() as con1:
        con1.execute(text(stmt))
        con1.commit()
        con1.close()